#location {
    width: 700px;
    
}

#headingdiv {
    width: 100%;
    border-bottom: thin solid #000000;
    
}

#bodydiv {
   margin-left: auto;
   margin-right: auto;
   width: 70%;
   display: table;
   height: 300px;
}

#innerdiv {
    display: table-cell;
    vertical-align: middle;
}

/*below is a button copied from a button generator*/
.myButton {
    -moz-box-shadow:inset 0px 0px 22px 0px #91b8b3;
    -webkit-box-shadow:inset 0px 0px 22px 0px #91b8b3;
    box-shadow:inset 0px 0px 22px 0px #91b8b3;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #abb8b5), color-stop(1, #6c7c7c));
    background:-moz-linear-gradient(top, #abb8b5 5%, #6c7c7c 100%);
    background:-webkit-linear-gradient(top, #abb8b5 5%, #6c7c7c 100%);
    background:-o-linear-gradient(top, #abb8b5 5%, #6c7c7c 100%);
    background:-ms-linear-gradient(top, #abb8b5 5%, #6c7c7c 100%);
    background:linear-gradient(to bottom, #abb8b5 5%, #6c7c7c 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#abb8b5', endColorstr='#6c7c7c',GradientType=0);
    background-color:#abb8b5;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #abb8b5));
    background:-moz-linear-gradient(top, #6c7c7c 5%, #abb8b5 100%);
    background:-webkit-linear-gradient(top, #6c7c7c 5%, #abb8b5 100%);
    background:-o-linear-gradient(top, #6c7c7c 5%, #abb8b5 100%);
    background:-ms-linear-gradient(top, #6c7c7c 5%, #abb8b5 100%);
    background:linear-gradient(to bottom, #6c7c7c 5%, #abb8b5 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#abb8b5',GradientType=0);
    background-color:#6c7c7c;
}
.myButton:active {
    position:relative;
    top:1px;
}

#inforow {
    border-bottom: thin solid #000000;
    padding: 3px 0px 3px 0px;
}

.infoholder {
    display: inline-block;
    width: 200px;
}

.infolabel {
    display: inline-block;
    margin-right: 5px;
}

.infocontent {
    display: inline-block;
    padding: 0px 5px 0px 5px;
    background-color: #AACCCC;
}

nav.left-nav {
    width: 200px;
    float: left;
    display: inline;
    margin-right: 10px;
    border-right: thin solid #000000;
}

nav.left-nav ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

nav.left-nav ul li {
    padding: 5px 0px 5px 0px;
    margin-bottom: 5px;
}

nav.left-nav .selected {
    background-color: #AACCCC;
}

section#main {
    float: left;
    padding: 21px;
    width: 1000px;
}

section#main p {
    margin: 0px;
}

section#main .question {
    font-size: 200%;
}

section#main .answer {
    padding: 20px;
    font-size: 125%;
    line-height: 1.8;
}

section#main .spacer {
    padding: 20px;
}

nav.bottom-nav {
    margin-top: 50px;
    margin-right: 20px;
}

nav.bottom-nav ul {
    list-style-type: none;
    text-align: right;
}

nav.bottom-nav ul a {
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

nav.bottom-nav ul a li:hover {
    background-color: #CCCCAA;
}

nav.bottom-nav ul a li {
    padding: 10px;
    display: inline;
    background-color: #AACCCC;
}
