extends layout

block content

    h1=title
    p Candidates for ZipCode 10022

    // Wrapper
    #wrapper

        //CANDIDATE INFO
        #candidateInfo
        h2 Election Candidates
            p
            strong Name: 
            | <span id='bioInfoName0'></span>
            br
            strong Party: 
            | <span id='bioInfoParty0'></span>
    
            p
            strong Name: 
            | <span id='bioInfoName1'></span>
            br
            strong Party: 
            | <span id='bioInfoParty1'></span>
    
        // /CANDIDATE INFO
    
    // /WRAPPER
